@import url("https://fonts.googleapis.com/css2?family=Allura&family=Merriweather&family=Sacramento&display=swap");
body {
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514E;
}
h1 {
  font-size: 562.5%;
  /* margin-top: 50px; */
  margin: 50px auto 0 auto;
  color: #66BFBF;
  line-height: 2;
  font-family: "Sacramento", cursive;
}
h2 {
  font-size: 2.5rem;
  margin-top: 20px;
  font-weight: normal;
  color: #66bfbf;
  padding-bottom: 10px;
}
h3 {
  color: #11999e;
}
p {
  line-height: 2;
  color: #40514E;
}
hr{
  border: dotted #CFD2CF 6px;
  width: 5%;
  border-bottom: none;
  margin: 60px auto;
}
a{
  color: #11999E;
}
a:hover{
color: #d6efed;
}
.top-container {
  background-color: #EAF6F6;
  padding-top: 50px;
}
.middle-container {
  background-color: #d6efed;
  padding-top: 5px;
}
.bottom-container {
  background-color: #66Bfbf;
  padding-bottom: 10px;
  padding-top: 20px;
}
.span {
  text-decoration: underline;
}
.top-cloud {
  position: absolute;
  right: 200px;
  top: 60px;
}
.bottom-cloud {
  position: absolute;
  left: 200px;
}
.pranay-image {
  margin: 50px auto 20px;
  width: 200px;
  height: 200px;
}
.intro{
  width: 30%;
  margin: auto;
}
.skill-row {
  width: 50%;
  margin: 50px auto;
  text-align: left;
}
.webDev-icon{
  width: 25%;
  float: left;
  padding-right: 20px;
}
.coding-icon{
  width: 25%;
  float: right;
  padding-left: 20px;
}
.contact-me{
  padding-top: 30px;
  padding-bottom: 70px;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright-message{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0 5px;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat',sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 20px;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
.contact-icons {
  width: 30px;
  height: 30px;
  padding-top: 10px;
  padding-inline: 20px;
}
